<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Rick and Morty!{% endblock %}</title>

        <style>
            table {
                margin: 5px 5px 10px 0;
                font-size: 9pt;
                border-right: 1px solid black;
                display: inline-block;
                width: 225px;
            }

            table img {
                width:75px;
            }
        </style>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1>Rick and Morty characters selector</h1>

        <a href="/dimension">By dimension</a>
        <br><br>
        <a href="/location">By location</a>
        <br><br>
        <a href="/episode">By episode</a>
        <br><br>
        <a href="https://www.youtube.com/watch?v=eMJk4y9NGvE" target="_blank">How a plumbus is made</a>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
