{% extends 'base.html.twig' %}

{% block body %}
    <h2>Characters selected by episode 13</h2>

    {% for character in characters %}
        {% include 'character.html.twig' %}
    {% endfor %}
{% endblock %}
